/* app.css */
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  input[type="radio"],
  select,
  select[multiple],
  textarea {
    @apply bg-zinc-200 border border-zinc-400 text-zinc-900 text-sm rounded-md 
           focus:ring-zinc-800 focus:border-zinc-800 focus:bg-zinc-200 
           block w-full my-2.5 p-2.5 transition
           dark:bg-zinc-500 dark:border-zinc-600 dark:placeholder-zinc-200 
           dark:text-zinc-800 dark:focus:ring-zinc-500 dark:focus:placeholder-zinc-500  dark:focus:border-zinc-500;
  }

  /* checkbox style  */
  input[type="checkbox"] {
    @apply w-4 h-4 cursor-pointer rounded-md border shadow shadow-zinc-800 dark:shadow-zinc-300 border-zinc-700 
        text-zinc-900 accent-zinc-900 transition
          focus:ring-2 focus:ring-zinc-800 dark:accent-zinc-500;
  }

  /* label style  */
  label {
    @apply text-sm my-0.5 font-medium select-none transition;
  }

  /* Button style  */
  button {
    @apply text-white transition bg-zinc-700 hover:bg-zinc-600 
    focus:ring-4 focus:outline-none focus:ring-blue-300 
    font-medium rounded-md text-sm w-full sm:w-auto px-5 py-2.5 
    text-center dark:bg-zinc-600 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800 hover:cursor-pointer;
  }
}
